/* global */
body {
	position: absolute;
	height: 100%;
	width: 100%;
}

.absolute-center {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}

.clear-both {
	clear: both;
}

.blurred-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('http://dmci.dev/sites/default/files/login-bg.jpg');
	background-size: cover;
}

body.logged-in {
	margin-top: 0px !important;
}

/* topbar */
.top-bar {
	position: absolute;
	top: 0px;
	z-index: 100;
	width: 100%;
	height: 35px;
	padding: 0px;
	margin: 0px;
	background: #3c3c3c; /* Old browsers */
	background: -moz-linear-gradient(top,  #3c3c3c 0%, #5a5a5a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#5a5a5a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3c3c3c 0%,#5a5a5a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3c3c3c 0%,#5a5a5a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3c3c3c 0%,#5a5a5a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3c3c3c 0%,#5a5a5a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#5a5a5a',GradientType=0 ); /* IE6-9 */

	img {
		position: relative;
		top: 2px;
		margin-left: 10px;
		width: 30px;
	}

	.hamburger {
		margin-top: 2px;
		margin-right: 20px;
		cursor: pointer;
		border-left: 3px solid #3c3c3c;
		padding-left: 20px;

		li {
			width: 30px;
			height: 3px;
			margin-top: 5px;
			margin-bottom: 5px;
			background: #fff;
			list-style: none;
		}
	}
}

/* page title */
.page-title-container {
	.page-title {
		margin-top: 35px;
		padding: 11px 40px;
		background: #0055A1;
	}

	b {
		font-size: 18px;
		color: #fff;
		letter-spacing: 1px;
	}

	img {
		position: absolute;
		width: 100%;
	}
}


/* login page */
.login-form {
	.content {
		position: absolute;
		width: 100%;
		margin-top: 10%;
	}

	.fields {
		background: #fff;
		padding: 25px 25px 0px 25px;
		border-radius: 3px;
		box-shadow: 0px 0px 25px #444;
	}

	form {
		padding-top: 10px;
	}

	button {
		padding: 10px 25px !important;
		color: #fff !important;
		font-size: 12px !important;
		text-transform: uppercase;
		box-shadow: 0px;
		border: 0px !important;
		background: #0076a3 !important;
	}

	input {
		border-radius: 3px;
		box-shadow: none !important;
		margin: 0px 0px 0px 0px !important;
	}

	li {
		padding: 5px 20px;
		padding-bottom: 10px;
		float: left;
		list-style: none;
		text-align: center;
	}

	li a {
		color: #000;
		font-size: 11px;
	}

	.bottom-links {
		margin-top: 10px;
		border-radius: 3px;
		box-shadow: 0px 0px 25px #444;
		background: #fff;
	}
}

/* selection page */
.selection-page  {
	.absolute-center {
		width: 100%;
		height: 60%;
	}

	.selection {
		padding: 30px 30px;
		text-align: center;
	}
}

/* media queries */
@media screen and (max-width: 768px) {
	.selection-page {
		.absolute-center {
			width: 45%;
			height: 90%;
		}
	}

	.selection {
		padding: 0px !important;
		margin-top: 30px;
	}
}

@media screen and (max-width: 640px) {
	.selection-page {
		.absolute-center {
			width: 50%;
			height: 80%;
		}
	}
}